.property_pics {
    height: 280px;
    width:315px;
    border-radius: 5px;
    /* align-items: center;   */
}
.heart_icon {
    display: block;
    width: 47px;
    height: 47px;
    position: relative;
    top: 63px;
    left: 260px;
}
.date{
    padding-top: 15px;
    text-align: left;
    color:#979797;

}
.property_details_container {
    width:315px;
}
.container {
    padding-top: 50px;
}

.home_price {
    font-weight: 700;
    font-size: 26px;
    padding: 15px 0 15px 0;
    text-align: left;
}
.address {
    font-weight: 400;
    font-size: 15px;
    color: #2D2D2D;
    text-align: left;

}
.bed_bath {
    padding-top: 15px;
    font-weight: 600;
    text-align: left;
}
.card {
    text-align: center;
}
